{% filter spoorTrackingPixel %}
{
  "action": "view",
  "category": "page",
  "context": {
    "content": {
      "asset_type": "interactive"
      {%if id %},"uuid": "{{ id }}"{% endif %}
    },
    "product": "{{ config.product | default("IG", true) }}"
    {% if config.site %} ,"microsite_name": "{{ config.site }}" {% endif %}
  },
  "system": {
    "is_live": {{ "true" if live else "false" }},
    "apiKey": "qUb9maKfKbtpRsdp0p2J7uWxRPGJEP",
    "source": "o-tracking-ns",
    "version": "1.0.0"
  }
}
{% endfilter %}

{% macro SpoorMeta(config) %}
<link rel="preconnect" href="https://spoor-api.ft.com">
<meta property="ft.track:is_live" content="true"/>
<meta property="ft.track:product" content="{{ config.product | default("IG", true) }}"/>
{%- if config.micrositeName %}
<meta property="ft.track:microsite_name" content="{{ config.micrositeName }}"/>
{%- endif -%}
{% endmacro %}

{% macro GoogleAnalytics(id, on=false, requires=["displayfeatures"]) %}
{% if on %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', '{{ id | default("UA-35229645-1", true) }}', 'auto');
  {%- if requires -%}
    {%- for r in requires -%}
    ga('require','{{ r }}');
    {%- endfor -%}
  {%- endif -%}
  ga('send', 'pageview');
</script>
{% endif %}
{% endmacro %}
