{% macro ResourceHints(flags) %}
<link rel="preconnect" href="https://origami-build.ft.com">
<link rel="preconnect" href="https://cdn.polyfill.io">
<link rel="preconnect" href="https://image.webservices.ft.com">
{% if flags.prod %}
<link rel="preconnect" href="https://session-next.ft.com" crossorigin="use-credentials">
{% endif %}
{% if flags.ads %}
<link rel="preconnect" href="https://securepubads.g.doubleclick.net">
{% endif %}
{% endmacro %}

{% macro Stylesheets(urls) -%}
{%- if urls %}{%- for url in urls %}
<link rel="stylesheet" href="{{ url | safe }}">
{%- endfor -%}{%- endif -%}
{%- endmacro %}

{% macro oErrors(sentryEndpoint, on=false) %}
<script type="application/json" data-o-errors-config>
{"sentryEndpoint": "{{ sentryEndpoint | default("https://ddbd80489ff549538250bbe37fa52bbd@app.getsentry.com/71130", true) }}"
{% if not on %},"logLevel": "consoleonly"{% endif %}}
</script>
{#
Temporarily us o-errors on IG. Original build service url was
https://origami-build.ft.com/v2/bundles/js?export=oErrors&modules=o-errors@^3.5.1
#}
<script src="https://ig.ft.com/static/g-ui/o-errors.20161025.js"></script>
{% endmacro %}

{% macro ClientsideFlags(flags) %}
{{ flags | inlineScriptElement('flags') }}
{% endmacro %}
