<div class="o-grid-container">
  <div class="container o-grid-row">


    <!-- first block -->
    <div data-o-grid-colspan="12 center">
      <h1>Option 1</h1>
        <div class="o-grid-row">
          <div data-o-grid-colspan="12">
            <div class="header">
              <span class="header__title">
                <h3 id="more-on-0-title" class="header__name">Latest on whatever the page link</h3>
              </span>
              <a class="header__link" href="#" data-trackable="link-topic-see-all">
                <span class="header__link__text">See all</span>
              </a>
            </div>
          </div>
        </div>
        <div class="o-grid-row">
          <div data-o-grid-colspan="12 S6 M4 XL3">
            <div class="o-card o-card--image-" data-o-component="o-card">
              <div class="o-card__image o-card__image--">
                <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=o-card-demo" alt="demo image"></img>
              </div>
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 M4 XL3">
            <div class="o-card o-card--image-" data-o-component="o-card">
              <div class="o-card__image o-card__image--">
                <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=o-card-demo" alt="demo image"></img>
              </div>
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 M4 XL3">
            <div class="o-card o-card--opinion o-card--image-" data-o-component="o-card">
              <div class="o-card__content o-card__content-">
                <div class="o-card__meta">
                    <div class="o-card__meta-image o-card__meta-image--rounded">
                      <img src="http://www.ft.com/__origami/service/image/v2/images/raw/fthead:mrs-moneypenny?source=origami&amp;width=60" alt=" "></img>
                    </div>
                  <a href="#" class="o-card__tag">Mrs Moneypenny</a>
                </div>
                <h2 class="o-card__heading"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst">Bondholders pay government for the privilege of lending it money</p>
                  <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 M4 XL3">
            <div class="o-card o-card--image-" data-o-component="o-card">
              <div class="o-card__image o-card__image--">
                <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=o-card-demo" alt="demo image"></img>
              </div>
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 M4 XL3">
            <div class="o-card o-card--image-" data-o-component="o-card">
              <div class="o-card__image o-card__image--">
                <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=o-card-demo" alt="demo image"></img>
              </div>
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 M4 XL3">
            <div class="o-card o-card--image-" data-o-component="o-card">
              <div class="o-card__image o-card__image--">
                <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=o-card-demo" alt="demo image"></img>
              </div>
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 M4 XL3">
            <div class="o-card o-card--image-" data-o-component="o-card">
              <div class="o-card__image o-card__image--">
                <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=o-card-demo" alt="demo image"></img>
              </div>
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 M4 XL3">
            <div class="o-card o-card--image-" data-o-component="o-card">
              <div class="o-card__image o-card__image--">
                <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=o-card-demo" alt="demo image"></img>
              </div>
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
        </div>
      </div>
 <!-- first block small -->
    <div data-o-grid-colspan="12 center">
      <h1>Option 1 -- small</h1>
        <div class="o-grid-row">
          <div data-o-grid-colspan="12">
            <div class="header">
              <span class="header__title">
                <h3 id="more-on-0-title" class="header__name">Latest on whatever the page link</h3>
              </span>
              <a class="header__link" href="#" data-trackable="link-topic-see-all">
                <span class="header__link__text">See all</span>
              </a>
            </div>
          </div>
        </div>
        <div class="o-grid-row">
          <div data-o-grid-colspan="12 S6 L4 XL3">
            <div class="o-card o-card--landscape o-card--image-right" data-o-component="o-card">
              <div class="o-card__image o-card__image--right">
                <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=o-card-demo" alt="demo image"></img>
              </div>
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading o-card__heading--small"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst o-card__standfirst--small">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 L4 XL3">
            <div class="o-card o-card--landscape o-card--image-right" data-o-component="o-card">
              <div class="o-card__image o-card__image--right">
                <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=o-card-demo" alt="demo image"></img>
              </div>
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading o-card__heading--small"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst o-card__standfirst--small">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 L4 XL3">
            <div class="o-card o-card--opinion o-card--image-" data-o-component="o-card">
              <div class="o-card__content o-card__content-">
                <div class="o-card__meta">
                    <div class="o-card__meta-image o-card__meta-image--rounded">
                      <img src="http://www.ft.com/__origami/service/image/v2/images/raw/fthead:mrs-moneypenny?source=origami&amp;width=60" alt=" "></img>
                    </div>
                  <a href="#" class="o-card__tag">Mrs Moneypenny</a>
                </div>
                <h2 class="o-card__heading o-card__heading--small"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst o-card__standfirst--small">Bondholders pay government for the privilege of lending it money</p>
                  <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 L4 XL3">
            <div class="o-card o-card--landscape o-card--image-right" data-o-component="o-card">
              <div class="o-card__image o-card__image--right">
                <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=o-card-demo" alt="demo image"></img>
              </div>
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading o-card__heading--small"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst o-card__standfirst--small">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 L4 XL3">
            <div class="o-card o-card--landscape o-card--image-right" data-o-component="o-card">
              <div class="o-card__image o-card__image--right">
                <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=o-card-demo" alt="demo image"></img>
              </div>
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading o-card__heading--small"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst o-card__standfirst--small">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 L4 XL3">
            <div class="o-card o-card--landscape o-card--image-right" data-o-component="o-card">
              <div class="o-card__image o-card__image--right">
                <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=o-card-demo" alt="demo image"></img>
              </div>
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading o-card__heading--small"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst o-card__standfirst--small">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 L4 XL3">
            <div class="o-card o-card--landscape o-card--image-right" data-o-component="o-card">
              <div class="o-card__image o-card__image--right">
                <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=o-card-demo" alt="demo image"></img>
              </div>
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading o-card__heading--small"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst o-card__standfirst--small">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 L4 XL3">
            <div class="o-card o-card--landscape o-card--image-right" data-o-component="o-card">
              <div class="o-card__image o-card__image--right">
                <img src="https://www.ft.com/__origami/service/image/v2/images/raw/http%3A%2F%2Fim.ft-static.com%2Fcontent%2Fimages%2Fa60ae24b-b87f-439c-bf1b-6e54946b4cf2.img?source=o-card-demo" alt="demo image"></img>
              </div>
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading o-card__heading--small"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst o-card__standfirst--small">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div data-o-grid-colspan="12 center">
      <h1>Option 2</h1>
      <div class="o-grid-row">
          <div data-o-grid-colspan="12">
            <div class="header">
              <span class="header__title">
                <h3 id="more-on-0-title" class="header__name">Latest on whatever the page link</h3>
              </span>
              <a class="header__link" href="#" data-trackable="link-topic-see-all">
                <span class="header__link__text">See all</span>
              </a>
            </div>
          </div>
        </div>
        <div class="o-grid-row">
          <div data-o-grid-colspan="12 S6 M4">
            <div class="o-card" data-o-component="o-card">
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 M4">
            <div class="o-card" data-o-component="o-card">
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 M4">
            <div class="o-card o-card--opinion o-card--image-" data-o-component="o-card">
              <div class="o-card__content o-card__content-">
                <div class="o-card__meta">
                    <div class="o-card__meta-image o-card__meta-image--rounded">
                      <img src="http://www.ft.com/__origami/service/image/v2/images/raw/fthead:mrs-moneypenny?source=origami&amp;width=60" alt=" "></img>
                    </div>
                  <a href="#" class="o-card__tag">Mrs Moneypenny</a>
                </div>
                <h2 class="o-card__heading"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst">Bondholders pay government for the privilege of lending it money</p>
                  <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 M4">
            <div class="o-card" data-o-component="o-card">
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 M4">
            <div class="o-card" data-o-component="o-card">
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 M4">
            <div class="o-card" data-o-component="o-card">
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div data-o-grid-colspan="12 center">
      <h1>Option 2 -- small</h1>
      <div class="o-grid-row">
          <div data-o-grid-colspan="12">
            <div class="header">
              <span class="header__title">
                <h3 id="more-on-0-title" class="header__name">Latest on whatever the page link</h3>
              </span>
              <a class="header__link" href="#" data-trackable="link-topic-see-all">
                <span class="header__link__text">See all</span>
              </a>
            </div>
          </div>
        </div>
        <div class="o-grid-row">
          <div data-o-grid-colspan="12 S6 M4 L3">
            <div class="o-card" data-o-component="o-card">
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading o-card__heading--small"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst o-card__standfirst--small">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 M4 L3">
            <div class="o-card" data-o-component="o-card">
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading o-card__heading--small"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst o-card__standfirst--small">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 M4 L3">
            <div class="o-card o-card--opinion o-card--image-" data-o-component="o-card">
              <div class="o-card__content o-card__content-">
                <div class="o-card__meta">
                    <div class="o-card__meta-image o-card__meta-image--rounded">
                      <img src="http://www.ft.com/__origami/service/image/v2/images/raw/fthead:mrs-moneypenny?source=origami&amp;width=60" alt=" "></img>
                    </div>
                  <a href="#" class="o-card__tag">Mrs Moneypenny</a>
                </div>
                <h2 class="o-card__heading o-card__heading--small"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst o-card__standfirst--small">Bondholders pay government for the privilege of lending it money</p>
                  <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 M4 L3">
            <div class="o-card" data-o-component="o-card">
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading o-card__heading--small"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst o-card__standfirst--small">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 M4 L3">
            <div class="o-card" data-o-component="o-card">
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading o-card__heading--small"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst o-card__standfirst--small">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 M4 L3">
            <div class="o-card" data-o-component="o-card">
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading o-card__heading--small"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst o-card__standfirst--small">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
           <div data-o-grid-colspan="12 S6 M4 L3">
            <div class="o-card" data-o-component="o-card">
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading o-card__heading--small"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst o-card__standfirst--small">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
          <div data-o-grid-colspan="12 S6 M4 L3">
            <div class="o-card" data-o-component="o-card">
              <div class="o-card__content">
                <div class="o-card__meta">
                  <a href="#" class="o-card__tag">Demo card tag</a>
                </div>
                <h2 class="o-card__heading o-card__heading--small"><a href="#">Japan sells negative yield 10-year bonds</a></h2>
                <p class="o-card__standfirst o-card__standfirst--small">Bondholders pay government for the privilege of lending it money</p>
                <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="//origami-build.ft.com/v2/bundles/js?modules=o-date%40%5E2.2.1"></script>
