    <div class="o-grid-container">
      <div class="o-grid-row">
        <div data-o-grid-colspan="12 M6">
        <div class="o-card" data-o-component="o-card">

    <div class="o-card__content">
      <div class="o-card__meta">
        <a href="#" class="o-card__tag">Demo card tag</a>
      </div>

      <h2 class="o-card__heading"><a href="#">Japan sells negative yield 10-year bonds</a></h2>


        <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
    </div>


  </div>
</div><div data-o-grid-colspan="12 M6">
  <div class="o-card o-card--standout" data-o-component="o-card">

    <div class="o-card__content">
      <div class="o-card__meta">
        <a href="#" class="o-card__tag">Demo card tag</a>
      </div>

      <h2 class="o-card__heading"><a href="#">Japan sells negative yield 10-year bonds</a></h2>


        <time data-o-component="o-date" class="o-date o-card__timestamp" datetime="2016-02-29T12:35:48Z">2016-02-29T12:35:48Z</time>
    </div>

  </div>
        
        </div>
        </div>
