.o-card {
  background-color: #fff1e0;
  margin-bottom: 12px;
}

.o-card--standout {
  background-color: #e9decf;
  padding-bottom: 10px;
}

.o-card__standfirst {
  font: 16px/1.3 'Georgia', serif;
}

.o-card__tag {
  margin-bottom: 0;
}

.o-card__meta-image--rounded {
  margin-left: 5px;
}
